body {
    font-family: FiraSans;
    width: 90%;
    max-width: 700px;
    height: 90vh;
    margin: 0 auto;
    padding: 15px;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
    height: 770px;
    display: flex;
    flex-direction: column;
    border: 1px solid #F1F0F0;
    border-radius: 35px;

    overflow-y: scroll;
}

.window {
    display: flex;
    height: 100%;
}

.title {
    color: #F1F0F0;
    margin: 20px 15px;
}

.message-wrap {
    display: flex;
    margin: 5px 10px;
}

.user-wrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.user-block {
    width: 30%;
    display: flex;
    align-self: flex-end;
    padding: 5px 10px;
    background: #F9C35B;
    border-radius: 35px;
    color: #282828;
    margin: 5px 10px;
    transition: 2s;
}

.bot-block {
    width: 50%;
    padding: 15px 10px;
    background: #F1F0F0;
    border-radius: 35px;
    color: #282828;
    margin: 5px 10px;
    transition: 2s;
}

.add-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F1F0F0;
    border-radius: 35px;
    padding: 5px 15px;
    width: 95%;
    position: relative;
}

.add-weather {
    width: 30%;
    border-radius: 5px;
    margin-left: 20px;
}

.form__input {
    background: none;
    border: none;
    outline: none;
    color: #282828;
    font-size: 16px;
    width: 100%;
}

.form-button {
    background: none;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

.button-img {
    display: flex;
    justify-content: center;
}

/*анимация троеточия*/

.loading::after {
    content: '.';
    height: 10px;
    color: #F1F0F0;
    font-size: 50px;
    animation: loading 1s ease alternate infinite;
    position: absolute;
    left: 15px;
    top: -54px;
}

.hidden {
    display: none;
}

@keyframes loading {
    60%  { text-shadow: 0.35em 0 0 currentColor; }
    100% { text-shadow: 0.35em 0 0 currentColor, 0.75em 0 0 currentColor; }
}
